* {
	box-sizing: border-box;
}

body {
	display: flex;
	font-family: Arial, sans-serif;
	flex-direction: column;
	justify-content: space-between;
	min-height: 96vh;
}

figure img {
	border: 2px solid cyan;
}

#pageheader,
footer {
	flex-grow: 0;
	background-color: #333;
	color: white;
	padding: 10px;
}

#pageheader {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pageheader nav a {
	color: white;
	text-decoration: none;
}

footer {
	padding: 10px;
	height: 40px;
}


main {
	flex-grow: 1;
	margin: 20px auto;
	max-width: calc(100% - 80px);
	border: 1px solid #ccc;
	padding: 20px;
	min-height: 400px;
}

main li {
	margin-left: 10px;
	cursor: pointer;
}

main ul {
	list-style-type: none;
}

#template_thumbnails {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

#template_thumbnails img {
	max-width: 200px;
	cursor: pointer;
}

#template_thumbnails figure {
	cursor: pointer;
}

#template_thumbnails figure:hover {
	background-color: #f9f9f9;
}

/** Buttons **/

.delete-rect,
.delete-template,
.delete-signatory {
	background-color: #ccc;
	border: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 10px;
	font-size: 0.3em;
	margin: 0, 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

#auditrects {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

#auditrects section {
	display: flex;
	align-items: center;
}
