main li {
	margin-left: 10px;
	cursor: pointer;
}

main ul {
	list-style-type: none;
}

.template_thumbnails {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.template_thumbnails img {
	max-width: 200px;
	cursor: pointer;
}
